html,body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100%;
    padding: 0;
    margin: 0;
}


.hero.is-fullheight{

    min-height: 108vh;
}
.email-input,
.password-input {
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px;
    color: #95A5A6;
}

.icon.user,
.icon.password {
    margin: 5px 10px 0 0;
}

.avatar img {
    border-radius: 100px;
    padding: 5px;
    border: 1px solid #dbdbdb;
}

.forgot-password a {
    color: #95A5A6;
    font-weight: bold;
    padding-right: 20px;
}

.login {
    padding-top: 20px;
}

.login button {
    border-radius: 40px;
    font-weight: bold;
}

.hero-body .container {
    margin-top: -100px;
}

.hero.is-dark .section {
    background-color: transparent;
}

.login-wrapper {
    margin: -0.75rem;
    overflow-y: hidden;
}
.botonPersonalizado{
    background-color:#ffaa00;
    border-radius:28px;
    border:1px solid #ffaa00;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:8px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.botonPersonalizado:hover{

    background-color:#ffaa00;
}
.botonPersonalizado:active {

    position:relative;
    top:1px;
}
.cajonForm
{
    position: absolute;
    top: 10%;
    right: 5%;
}
.cajonForm
{
    position: absolute;
    top: 30%;
    right: 5%;
}

.hero-banner .hero {
    background: url('../img/11345640660.jpg');
    background-position: right;
    background-size: cover;
    background-blend-mode: screen;
}

.imagenPrincipal{


    background: url('../img/ibague.png');
    background-position: right;
    background-size: cover;
    background-blend-mode: screen;


}

.botonPRIM{
    right: 17%;    
}

.hero-banner .title {
    display: inline-block;
    background-color: rgba(0,0,0, 0.6);
    padding: 5px;
}

.titulo{

    display: none;
}

@media (max-width: 600px) {
    .cajonForm
    {
        position: absolute;
        top: 30%;
        right: 23%;
    }
    .titulo{
        display: inline;
    }
    .botonPRIM{
        right: 45%;    
    }

}