

@media (min-width: 400px) {
    #imagenLogo
    {

        text-align: center
    }
    .marginUltimo
    {
        margin-top: 20px;

    }
    .padd
    {
        padding-left:   40px;
        text-align: right;
    }
    .marginHeader
    {
        text-align: center;   
    }

}

@media (max-width: 399px) {
    .marginUltimo
    {
        margin-top: 20px;   
    }
    .larara
    {
        width: 100%
    }
}

@media (max-width: 768px) { 
    .ubicacion{

        right: 24%;
    }
    .elNuevo
{
    
    top: 44%;position: absolute;right: 36% !important;
}
.juju{
    right: 12%;
    
}

}


.fotoImg{
    
    background: url('../img/logo-centro-mayor_1.png');
    background-repeat: no-repeat;
    background-size:contain;
}

.elNuevo
{
    
    top: 44%;position: absolute;right: -0.5%
}

table.blueTable {
    border: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    padding: 3px 4px;
}
table.blueTable tbody td {
    font-size: 14px;
}
table.blueTable tr:nth-child(even) {
    background: #EFEFEF;
}

table.blueTable thead {
    background: #01A9DB;
    background: -moz-linear-gradient(top, #6fa1bf 0%, #528eb2 66%, #3F82AA 100%);
    background: -webkit-linear-gradient(top, #6fa1bf 0%, #528eb2 66%, #3F82AA 100%);
    background: linear-gradient(to bottom, #6fa1bf 0%, #528eb2 66%, #3F82AA 100%);
}
table.blueTable thead th {
    font-size: 14px;
    font-weight: 100;
    color: #FFFFFF;
    border-left: 3px solid #F5F5F5;
    background: #01A9DB;

}
.ui-datatable .ui-datatable-header
{
    background: transparent;
    border: 0px;
    color: #0174DF;
    text-decoration: underline  #2E2E2E double  ;

}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #BDBDBD;
    background: #BDBDBD;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #BDBDBD 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #BDBDBD 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #BDBDBD 100%);
    border-top: 2px solid #444444;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #BDBDBD;
    padding: 2px 8px;
    border-radius: 5px;
}
.ui-widget-content
{
    border: 0px !important;
    border-bottom: 0px !important;
    color: #070707;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th
{

    border: 1px;
    border-style: solid;
    border-color: #BDBDBD;
}

.labelStyle
{
    margin-top: 9px;
    font-size: 18px;
}

.marginHeader
{

    margin-top: 30px;
}