<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Confirmacion</title>
        <link rel="stylesheet" href="css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/myStyle.css"/>
        <meta http-equiv="Pragma" content="no-cache" />
        <link rel="shortcut icon" href="img/favicon.ico"></link>
    </h:head>
    <h:body>
        <h:form id="form">
            <div class="container">
                <div class="ui-g-12">
                    <p:fieldset legend="Centro Comercial Unicentro Pereira" style="margin-bottom:20px; padding-top: 5px;;background: transparent;" >
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:panelGroup>
                                <div class="col-lg-12" id="panelTerminos">
                                    <div class="col-lg-3">
                                        <img src="img/logo-centro-mayor_1.png" id="icon" alt="User Icon" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h3> <b>COMERCIAL UNICENTRO PEREIRA AUTORIZACION PARA EL TRATAMIENTO DE LOS DATOS PERSONALES </b></h3>  
                                    </div>

                                </div>
                                <div class="col-lg-12" >
                                    <p:outputLabel style="text-align: justify" value="Con la firma del presente documento y de conformidad con la ley Estatutaria 1581 de 2012 y el decreto 1377 de 2013 autorizo al centro comercial unicentro pereira  para recolectar, almacenar, usar, analizar y procesar los datos personales por mi suministrados y aquellos que actualice en el futurode  acuerdo con la política para el tratamiento de datos personales de la cual he sido informado  y que puede consultarse en el sitio web https://palmettoplaza.com/" />
                                </div>
                                <br></br>
                            </h:panelGroup>
                        </h:panelGrid>
                    </p:fieldset>
                    <div class="col-xs-12   col-lg-4">
                        <h:outputText value="Acepto que la información suministrada por mi es veraz, completa, exacta y comprobable:" />
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <p:selectBooleanCheckbox styleClass="btn-terminos"  value="#{registroBean.terminos}" itemLabel="Si"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p:commandButton id="submit" styleClass="btn-terminos" value="Acepto" ajax="false" icon="fa fa-check" action="#{registroBean.lanzarRegistroPag}" />

                        </div>
                    </div>
                </div>
                <p:spacer/>
            </div>

        </h:form>

    </h:body>
</html>
