<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Datos de Factura</title>
        <link rel="stylesheet" href="css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/myStyle.css"/>
        <f:event type="preRenderView" listener="#{beanLogin.session}"/>
        <meta http-equiv="Pragma" content="no-cache" />
        <link rel="shortcut icon" href="img/favicon.ico"></link>


    </h:head>
    <h:body>
        <h:form id="form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12  text-center">
                        <h1>
                            Informacion Del Cliente
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Primer Nombre
                        <p:inputText  value="#{beanLogin.seleccionCliente.nombre1}" readonly="true" placeholder="Primer Nombre" class="form-control botones"  required="true" requiredMessage="La casilla nombre es obligatoria" type="text" />
                    </div>
                    <div class="col-lg-4">
                        Segundo Nombre
                        <p:inputText value="#{beanLogin.seleccionCliente.nombre2}" readonly="true" placeholder="Segundo Nombre" class="form-control botones"   required="true" requiredMessage="La casilla nombre es obligatoria" type="text"  />
                    </div>
                    <div class="col-lg-4">
                        Primer Apellido
                        <p:inputText  value="#{beanLogin.seleccionCliente.apellido1}" readonly="true" placeholder="Primer Apellido" class="form-control botones"  required="true" requiredMessage="La casilla apellido es obligatoria"  type="text" />
                    </div>
                    <div class="col-lg-6">
                        Segundo Apellido
                        <p:inputText  value="#{beanLogin.seleccionCliente.apellido2}"  readonly="true" placeholder="Segundo Apellido" class="form-control botones"  required="true" requiredMessage="La casilla nombre es obligatoria"  type="text" />
                    </div>
                    <div class="col-lg-6">
                        Documento
                        <p:inputText value="#{beanLogin.seleccionCliente.documento}" readonly="true" required="true" class="form-control botones"  placeholder="Documento" requiredMessage="La casilla documento es obligatoria"  type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p:growl id="messages"/>
                        <p:fileUpload id="fileuPLOAD" onstart="PF('bui').show()"   oncomplete="PF('bui').hide();ok();" fileUploadListener="#{beanLogin.handleFileUpload}" mode="advanced"
                                      update="messages" auto="true" sizeLimit="100000000"  label="Cargar Archivo" allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/" />
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <p:commandButton class="btn btn-primary btn-lg" style="width: 50%;"   update="data"  value="Finalizar" oncomplete="PF('dlg2').show();"/>

                    </div>

                </div>
                <p:remoteCommand name="ok" update="data" action="#{beanLogin.actualizar()}"/>

                <div class="row">
                    <p:dataTable id="data"  value="#{beanLogin.listArchivosCargados}"  var="archivo" paginator="true" rows="5" emptyMessage="No ha cargado ningun archivo por ahora">
                        <f:facet name="header">
                            Archivos Subidos
                        </f:facet>
                        <p:column headerText="Nombre del Archivo">
                            <p:outputLabel value="#{archivo}"/>
                        </p:column>
                    </p:dataTable>
                </div>
                <p:dialog id="diag" header="Informacion" widgetVar="dlg2" modal="true" height="100">
                    <p:panelGrid columns="1" layout="grid">
                        <h:outputText value="Tus facturas han sido registradas con éxito, sigue participando en
                                      nuestras campañas, podrás convertirte en uno de nuestros ganadores espectaculares." />
                        <p:commandButton  style="width: 100%;"  actionListener="#{beanLogin.navBack}" update="data"  value="Finalizar"/>
                    </p:panelGrid>

                </p:dialog>   
                <p:blockUI block="form"  widgetVar="bui">
                    <br />
                    <p:graphicImage url="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" style="background: transparent;border: none;background-color: transparent;" />
                </p:blockUI>


            </div>
        </h:form>
    </h:body>
    <script src="js/bootstrap.js" />
    <script type="text/javascript">
        {
            if (history.forward(1))
                location.replace(history.forward(1))
        }
    </script>
</html>

